# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\OneDrive\Study\FDU_postgraduate_2019\Medical Image Analysis\courses\Medical Image Analysis Course\2020\MvMM\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
